.footer{
  margin-top: 50px;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  background-color: #FF6947;
  color: white;
}

.footer-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container-details{
  display: flex;
  gap: 220px;
  justify-content: center;
}

.footer-container-details-1{
  display: flex;
  flex-direction: column;
  gap: 40px
}

.footer-container-details-1-head{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-container-details-1-head p{
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-container-details-1-body p{
  font-size: 18px;
  font-weight: 500;
}

.footer-container-details-1-foot li{
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.footer-container-details-2{
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-transform: capitalize;
}

.footer-container-details-2-body li{
  margin: 2px 0;
  font-size: 20px;
}

.footer-container-details-2-head{
  font-size: 20px;
  font-weight: 600;
}

.footer-container-details-3{
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-transform: capitalize;
}

.footer-container-details-3-head{
  font-size: 20px;
  font-weight: 600;
}

.footer-container-details-3-body li{
  margin: 2px 0;
  font-size: 20px;
}

.footer-container-details-4{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-container-details-4-head{
  font-size: 20px;
  font-weight: 600;
}

.footer-container-details-4-body-input{
  position: relative;
}

.footer-container-details-4-body-input input {
  width: 350px;
  height: 50px;
  padding: 28px;
  font-size: 18px;
  border: none;
  color: #FF6947;
  position: relative; 
  box-sizing: border-box; 
}



.footer-container-details-4-body-input input::placeholder {
  color: #FF6947; 
}

.footer-container-details-4-body-input input::after {
  content: '';
  color: #FF6947;
  position: absolute;
  top: 100px;
}

.footer-container-details-4-body-input-symbol{
  position: absolute;
  top: 5px;
  left: 280px;
  color:#FF6947;
  font-size: 30px;
  cursor:default
}

.footer-container-details-4-body-input-arrow{
  position: absolute;
  top: 3px;
  left: 300px;
  background-color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color:#FF6947;
  font-weight: 900;
}

.footer-container-footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
}