.section2 {
  height: 720px;

  width: 100%;
}

.section2-article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 50px;
}

.section2-article-container-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  color: white;
  font-size: 26px;
}

.section2-article-container-cards {
  width: 90%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-flow: row;
}

.section2-article-container-cards
  > .section2-article-container-card:nth-child(odd) {
  transform: translateY(200px);
}

.section2-article-container-card,
.section2-article-container-card-details-head,
.section2-article-container-card-details-details {
  display: flex;
}

.section2-article-container-card-details-head {
  display: flex;
  justify-content: center;
}

.section2-article-container-card {
  background-color: #ff7b00;
  flex-flow: column;
  height: 100%;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.section2-article-container-card::after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 0%;
  width: 50px;
  height: 40px;
  background-color: #ff7b00;
  border-radius: 10%;
}

.section2-article-container-card-details-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}

.section2-article-container-card-burger-details {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.section2-arrow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.section2-article-container-card-details-details-title {
  text-align: center;
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (max-width: 1279px) {
}

/* 2xl */
@media (max-width: 1535px) {
}
