.section6 {
  position: relative;
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
}

.section6-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 70px;
}

.section6-article-head {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 35px;
}

.section6-article-cards {
  display: flex;
  gap: 100px;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 20px 0;
}

.section6-article-card {
  background-color: white;
  color: #ffaf68;
  width: 908px;
  height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 25px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.section6-article-card img {
  background-color: #ffaf68;
  padding: 25px;
  border-radius: 50%;
}

.section6-article-card-desc {
  font-size: 24px;
}

.section6-article-card-foot {
  margin-top: 20px;
  font-size: 24px;
}

.section6-article-card-foot-stars {
  font-size: 50px;
}

.section6-article-buttons {
  display: flex;
  gap: 50px;
}

.section6-article-buttons button {
  border: white solid 3px;
  padding: 0px 20px;
  font-size: 40px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.section6-article-buttons button:hover {
  color: #ffaf68;
  background-color: white;
}
